doctype html

html
  head
    meta(charset='UTF-8')
    link(href='https://cdn.plyr.io/3.3.21/plyr.css' rel="stylesheet" type="text/css")
    link(href='https://icono-49d6.kxcdn.com/icono.min.css' rel="stylesheet" type="text/css")
    title Flot - Any Video Picture-in-Picture
    style.
      html, body {
        background-color: rgba(0,0,0,0)
      }
  body
    #root
    if env !== 'prod'
      script(src='chrome-extension://lmhkpmbekcpmknklioeibfkpmmfibljd/js/redux-devtools-extension.js')
    script(src=env == 'prod' ? '/js/todoapp.bundle.js' : 'http://localhost:3000/js/todoapp.bundle.js')
